@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: #2F4858;
    font-family: 'Luxurious Roman', sans-serif;
    color: #FFE4E3;
    
}

p,ol {
    font-size: 120%;
}

/* Heading and menu */
h1 {
    font-family: 'Luxurious Roman', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #FFE4E3;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 250%;
}

h2 {
    color: #F3EED9;
    text-align: left;
}


#menu {
    font-size: 150%;
}

#menu li {
       
    list-style-type: none;
    display: inline-block;
    font-weight: 500;
    color:#FFE4E3;
    margin-right: 20px;
    padding-top: 50px;
    padding-left: 20px;
}

#menu a {
    text-decoration: none;
    color: #FFE4E3;
}

#menu a:hover {
    border-bottom: 1px solid #FFE4E3;
}

.active {
    border-bottom: 1px solid #FFE4E3;
}

/*image at the index page*/
#image_index_page {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

/*pre-calculator area*/
.pre_calculator_area {
    
    display: flex;
    padding-bottom: 30px;
    padding-left: 150px;
    padding-right: 150px;
    text-align: left;

}

ol {
    margin-inline-start: 20px;
    padding-inline-start: 40px;
}

a {
    color: #FFE4E3;
}

/* calculator area */

.calculator_area {
    display: flex;
    padding-bottom: 30px;
    padding-left: 150px;
    padding-right: 150px;
    text-align: left;
    font-size: 120%;
    

} 
form {

    background-color: #798897;
    width: 500px;
    margin: 0 auto;
    border-top: 3px solid #52572A;
    border-bottom: 2px solid #52572A;
    clear: both;
}

.select_option {
    width: 30%;
    height: 25px;
    margin: 10px 0 20px 10px;
    background-color: white;
    font-family: 'Luxurious Roman', sans-serif;
    color:  #2F4858;
    font-weight: 500;
    border-radius: 2px;
    display: flex;
    
}

.label_style {
    margin-left: 5px;
    margin-bottom: 5px;
    clear: both;
    width: 100%;
    float: left;
    
}

.submit {
    width: 20%;
    height: 25px;
    margin: 10px 0 20px 10px;
    background-color: #ABAD9A;
    font-family: 'Luxurious Roman', sans-serif;
    font-size: 100%;
    color: #2F4858;
    font-weight: 500;
    border-radius: 2px;
    text-align: center;
    border: 1px solid white;

}

.submit:hover {
    background-color: #2F4858;
    color: #ABAD9A;
    border: 1px solid #ABAD9A;
}

form p {
    font-size: 100%;
    margin-left: 5px;
    margin-bottom: 5px;
}